
header {
	height: 250px;
	color: black;
	position: relative;
	left: 0;
	width: 100%;
	display: inline;
	font-weight: bolder;
	border: black;
	font-family: cursive; 
	font-weight: 400; 
	line-height: 12px; 
	text-align: center;
	align-items: center;
}
@media only screen and (min-width: 700px){
	.title {
    	animation-name: title_grow;
    	animation-duration: 6s;
		font-size: 32px;
		font-family: cursive;
	}

	@-webkit-keyframes title_grow{
        from{
            font-size: 5px;
            opacity: 0;
        }
        to{
            font-size: 40px;
            opacity: 1;
        }
    }

	@keyframes title_grow{
        from{
            font-size: 5px;
            opacity: 0;
        }
        to{
            font-size: 40px;
            opacity: 1;
        }
    }
}

header:before, header:after { content:""; display: table; }
header:after {clear: both;}
header {zoom: 2;}

nav{
	color: #9C9C9C;
	display: flex;
	justify-content: center;
	
}

nav ul {
	text-align: center;
	list-style: none;
	padding-bottom: 15px;
}

nav li a {
	display: block;
	color: #5E5E5E;
	text-decoration: none;
	font-size: 16px;
}

nav li{
	background-color: white;
	color: black;
	padding:5px;
	width:auto;
	height:auto;
	display: inline-table;
	align-items: center;
}

nav li a:hover, nav li a:focus {
	background-color: transparent;
	color: orange;
	box-sizing: 50px 80px;
	text-decoration: underline;
}
html {
	scroll-behavior: smooth;
	}
body {
	margin-top: 100px;
 
	font-size: 21px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 30px; 

	background-image: url("../imgs/background.jpg");
	background-repeat: no-repeat;
	background-position: -50% -300%;
	background-size: 1000px;


	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.grid-container {
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(8, 1fr);
}

.title{
	font-family: "URW Chancery L";
	display: block;
    text-align: center;
    background-color: #ecdbf0;
    padding: 5%;
    border-radius: 30px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 50%);
	margin: 10px;
    width: 100%;
}

div{
	display: block;
}

span {
	font-family: cursive;
	font-size: 50px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 12px; 
	text-align: center;
	color: black;
	align-items: center;
}

p { 
	font-family: "Segoe UI", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue";
	font-size: 16px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 22px; 
	padding-right: 10px;
	padding-left: 10px;	
} 

img{
    height: 200px;
    width:auto;
    border: 4px solid #513352;
    padding: 25px;
    border-radius: 5px;
    margin: 10px;
}

#main{
	font-family: "Frutiger Linotype";
	font-weight: bold;
	border: 2px;
	margin: 10px 0;
	align-items: center;
}

main{
	font-family: "Frutiger Linotype";
	font-weight: bold;
	border: 2px;
	margin: 10px 0;
	align-items: center;
}

h1{
	font-size: 2em; 
	font-weight: bold;
	font-family: "Frutiger Linotype";
	font-weight: bold;
	border: 2px;
	margin: 10px 0;
}

p{
	font-family: "Dejavu Sans";
	font-weight: bold;
	align-items: center;
	text-align: center;
}

#podcasttitle{
	font-family: "Helvetica Neue";
	align-items: center;
}


/*Added this so the links stay the same color*/
a:visited{color: black}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0px;
	width: 100%;
	height: 60px;
	color: black;
	background-color: #ecdbf0;
	text-align: center;
	font-size: 14px;
	padding: 8px;
}


footer a:hover {
	color: #513352;
	background-color: white;

}

.current{
	background-color: #ecdbf0;		
	text-decoration: underline;
}

label span{
	display: none;
}

.skip a{
	background: white;
	left: 0;
	padding: 7px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
	top: -50px;
	position: absolute;
  }

.skip a:focus{
	top: 10px;
  }

  a:focus{
	border-top: 2px dashed;
	border-bottom: 2px dashed;
  }

  .container-form {
	max-width: 100%;
	height: auto;
	grid-column: 2;
	grid-row: 2;
}

.contact-container-form {
	max-width: 100%;
	height: auto;
	grid-column: 2;
	grid-row: 2;
	text-align: center;
	align-items: center;
}

#logo{
	animation: logo_grow 15s 1;
 
 }
 
 @-webkit-keyframes logo_grow{
   from {
	 opacity: 0;
	 width: 25px;
   }
   to {
	 opacity: 1;
	 width: 1000 px;
   }
 
 }
 
 @keyframes logo_grow{
   from {
	 opacity: 0;
	 width: 25px;
   }
   to {
	 opacity: 1;
	 width: 1000 px;
   }
 
 } 

 .writings-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.5;
}

.writings-container h2 {
    font-family: 'Shippori Mincho B1';
    font-size: 20px;
    color: #0D1B2A;
    margin-left: 10px;
    font-weight: bolder;
}

.writings-container h3 {
    font-family: 'Shippori Mincho B1';
    font-size: 18px;
    color: #5f0608;
    margin-left: 10px;
}

.writings-container li {
    font-family: 'Shippori Mincho B1';
    font-size: 14px;
    color: #194475;
    margin-left: 8px;
}

.main1{
	font-family: "Frutiger Linotype";
	font-weight: bold;
	border: 2px;
	margin: 10px 0;
	align-items: center;
	background-image: url('../imgs/panorama.jpeg');
	background-size: 100%;
	background-color: white;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media only screen and (min-width: 800px){
.index-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6, 1fr);
}
.isha-image {
    width: auto;
    max-height: 250px;
    grid-column: 1;
    grid-row: 1;
}
}

.index-container {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.about-text, .about-podcasts, .about-newsletters, .about-writings, .about-speeches h2{
	grid-column: 2;
	grid-row: 1;		
	padding: 0px;
	text-align: center;
	font-family: "Frutiger Linotype";
	font-size: 30px;
	color: #5f0608;
}

.about-text, .about-podcasts,  .about-newsletters, .about-writings, .about-speeches p{
	grid-column: 2;
	grid-row: 1;
	padding: 20px;
	font-family: "Frutiger Linotype";
	color: #5f0608;
}

.about-podcasts{
	width: 100%;
    grid-row: 2;
    grid-column: 1;
	background-color: white;
}

.about-newsletters{
	width: 100%;
    grid-row: 3;
    grid-column: 2;
	background-color: white;
}
.about-writings{
	width: 100%;
    grid-row: 4;
    grid-column: 1;
	background-color: white;
}

.about-speeches{
	width: 100%;
    grid-row: 5;
    grid-column: 2;
	background-color: white;
}

@media (prefers-reduced-motion: reduce){
    .title, #logo{
        animation: none;
    }
    .flip-card-inner, .flip-card:hover .flip-card-inner{
        transition: transform none;
        transform: none;
    }
}
